# $1
# @author Michael Leßnau
class ${1:ClassName}Test extends PHPUnit_Framework_TestCase
{
	protected $instance;

	protected function setUp()
	{
		$this->instance = new $1(${2});
	}

	protected function tearDown()
	{
	}${3}
}${4}
